{% load static %}



<!-- <h1>this is a website</h1>

<hr>


<img src="{% static '/images/dp.jpeg' %}" >
<hr> -->

<!doctype html>
<html>
<head>
	<title>karthik</title>
	<link href="{% static '/css/main.css' %}" rel="stylesheet"
 type="text/css">
 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

 </head>
 <body>
 	
 	<div class="container">
	 	<div class="row">
	 		<div class="col-md-3">
	 			<div class="card card-body h-100 border-info" id="profile-wrapper">
	 				<img id="profile-pic" src="{% static '/images/dp.jpeg' %}" >
	 				<hr>
	 				<h1>Hi! This is Karthik!</h1>
	 				<br>
	 				<p> I'm just a beginner. </p> 
	 			</div>
	 		</div>
	 		
	 		<div class="col-md-9">
	 			<div class="card card-body h-100 border-info">
	 				<h2> My first project!</h2>
	 				<hr>
	 				<p> I just begin my coding with python.I get a clear concepts of the programming language.
	 					then I wish to make a project using python.I'm learning django now an i implemented a small work as a portfolio.This is my first project work :) !!!
	 				</p>
	 				<br>
	 				<br>
	 				<br>
                    <ul class="social-links">
	                    <li><img class="social" src="{% static '/images/twitter-featured.png'%}"></li>
	                    <li><img class="social" src="{% static '/images/25231.png'%}"></li>
	                    <li><img class="social" src="{% static '/images/174855.png'%}"></li>
                    </ul>
	 			</div>
	 		</div>
		</div>
		<hr>
		<div class="row">
	 		<div class="col-md-6">
	 			<div class="card card-body h-100">
	 				<h3>What can I do?</h3>
	 				<hr>		
	 				<li> * I can solve problems using python.</li>
	 				<li> * I can make a website using django.</li>
	 						
	 			</div>
	 		</div>
	 		
	 		<div class="col-md-6">
	 			<div class="card card-body h-100">
	 				<h4>What I know?</h4>
	 				<hr>
	 				<p>  pyhton,
	 				     html,css,
	 				     django.
	 				</p>

	 			</div>
	 		</div>
		</div>
		<hr>
		<div class="row">
	 		<div class="col-md-12">
	 			<div class="card card-body h-100">
	 				<h5>My Institution!</h5>
	 				<hr>
	 				<p>Adhiyaman college of engineering,Hosur</p>

	 				<p>cse department</p>
	 				   			
	 			</div>
	 		</div>
	 		
		</div>
		<hr>
    </div>

</body>
</html>
